.detail-gap {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.detail-row-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.detail-text-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 60%;
  text-align: justify;
}

.detail-text-container > span {
  font-size: 42px;
  text-align: left;
}

.detail-text-container > div {
  width: 90%;
}

.detail-text-container > div > h1 {
  margin-bottom: 12px;
}

.detail-text-container-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  width: 100%;
  text-align: justify;
}

.detail-text-container-mobile > span {
  text-align: center;
}

.detail-text-container-mobile > div {
  width: 90%;
}

.detail-text-container-mobile > div > h1 {
  margin-bottom: 12px;
}

.detail-text-container-mobile > span {
  font-size: 42px;
}

.detail-assets-container {
  display: flex;
  flex-direction: column;
  gap: 82px;
  width: 35%;
}

iframe {
  border-radius: 24px;
}

ol,
ul {
  padding-left: 24px;
}

li {
  margin: 4px 0;
}

section > h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 18px;
  overflow-x: auto;
}

.card {
  max-width: 460px;
  min-width: 460px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  cursor: pointer;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 28px 44px 28px 44px;
}

.card-text-container > h1 {
  font-size: 20px;
}

/* Responsive Styles */

@media only screen and (width <= 900px) {
  .detail-text-container > span {
    font-size: 32px;
  }
}

@media only screen and (width <= 604px) {
  .detail-row-container {
    display: none;
  }

  .detail-text-container-mobile {
    display: flex;
  }

  .detail-text-container-mobile > span {
    font-size: 24px;
    text-align: center;
  }

  .detail-text-container-mobile > div > h1 {
    font-size: 18px;
  }

  ol,
  ul {
    font-size: 14px;
  }

  .detail-text-container-mobile > div > p {
    font-size: 14px;
  }


  .card {
    max-width: 340px;
    min-width: 340px;
  }

  .card-text-container {
    padding: 28px 24px 28px 24px;
  }

  .card-text-container > h1 {
    font-size: 18px;
  }

  .card-text-container > p {
    font-size: 14px;
  }
}
