.tutorial-gap {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.radio-gap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  background: #714f3b;
  width: 100%;
  padding: 15px 32px;
  font-size: 16px;
  color: #fff;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  animation: appear 0.8s;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 24px auto 0 auto;
  width: 90%;
}

.search-bar {
  width: 85%;
}

.search-icon {
  position: relative;
  top: 39px;
  padding: 12px 16px;
  text-align: center;
  color: #61646b;
}

.search-field {
  width: 100%;
  padding: 8px 32px;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.7);
}

.btn-container {
  position: relative;
}

.filter-btn {
  position: relative;
  top: 18px;
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.filter-btn img {
  width: 20px;
}

.filter-dropdown {
  display: none;
  position: absolute;
  left: -100%;
  top: 160%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.filter-dropdown a {
  padding: 8px 32px;
  display: block;
  text-decoration: none;
}

.filter-dropdown a:hover {
  background-color: #dedede;
}

.best-recipe {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background-image: url("../assets/best-recipe.jpg");
  padding: 55px;
  border-radius: 7px;
}

.best-article {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background-image: url("../assets/best-article.jpg");
  padding: 55px;
  border-radius: 7px;
}

.best-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.best-title > span {
  font-size: 16px;
}

.best-title > h1 {
  padding-top: 10px;
  font-size: 24px;
}

.best-title > p {
  font-size: 12px;
}

.views-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.views-container img {
  width: 25px;
}

.views-container h4 {
  font-size: 12px;
}

section > h1 {
  font-size: 20px;
  margin-bottom: 42px;
}

.carousel {
  position: relative;
  margin: 0 auto;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.4s ease; 
  gap: 18px;
  padding: 4px 0;
}

.card {
  max-width: 300px;
  min-width: 300px;
  min-height: 272px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(.47,.13,.15,.89);
}

.card > img {
  width: 100%;
  max-height: 142px;
  object-fit: cover;
  border-radius: 12px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 28px 44px;
}

.card-text-container > h1 {
  font-size: 16px;
}

.card-text-container > p {
  font-size: 12px;
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150, 150, 150, 0.3);
  width: 42px;
  height: 42px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

/* Responsive Styles */

@media only screen and (width <= 604px) {
  .best-recipe {
    padding: 42px 42px 48px 42px;
  }

  .best-article {
    padding: 88px 42px 48px 42px;
  }

  .best-title > span {
    font-size: 18px;
  }
  
  .best-title > h1 {
    font-size: 24px;
  }
  
  .best-title > p {
    font-size: 16px;
  }

  .views-container > h4 {
    font-size: 16px;
  }

  .card {
    max-width: 340px;
    min-width: 340px;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-text-container {
    padding: 28px 24px 28px 24px;
  }

  .card-text-container > h1 {
    font-size: 18px;
  }

  .card-text-container > p {
    font-size: 14px;
  }
}

@media only screen and (width <= 604px) {
  .radio-container {
    gap: 24px;
    padding: 18px 24px;
    font-size: 16px;
  }
  
  input[type="radio"] {
    width: 32px;
    height: 32px;
  }
  
  input[type="radio"]:checked::before {
    width: 20px;
    height: 20px;
  }
}
